In [0]:
import pandas as pd

In [0]:
data = {'Company':['CENTENE','AWS','PWC','CENTENE','AWS','AWS'],
       'Person':['Lisa','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

In [0]:
df = pd.DataFrame(data)

In [0]:
display(df)

Company,Person,Sales
CENTENE,Lisa,200
AWS,Charlie,120
PWC,Amy,340
CENTENE,Vanessa,124
AWS,Carl,243
AWS,Sarah,350

In [0]:
bycomp=df.groupby('Company')

In [0]:
bycomp.describe()

In [0]:
df.groupby('Company')

Out[7]: <pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f085fb59730>

In [0]:
by_comp = df.groupby("Company")

In [0]:
by_comp.mean()

,Sales
Company,
AWS,237.666667
CENTENE,162.000000
PWC,340.000000

In [0]:
df.groupby('Company').mean()

,Sales
Company,
AWS,237.666667
CENTENE,162.000000
PWC,340.000000

In [0]:
by_comp.std()

,Sales
Company,
AWS,115.092716
CENTENE,53.740115
PWC,NaN

In [0]:
by_comp.min()

,Person,Sales
Company,,
AWS,Carl,120
CENTENE,Lisa,124
PWC,Amy,340

In [0]:
by_comp.max()

,Person,Sales
Company,,
AWS,Sarah,350
CENTENE,Vanessa,200
PWC,Amy,340

In [0]:
by_comp.count()

,Person,Sales
Company,,
AWS,3,3
CENTENE,2,2
PWC,1,1

In [0]:
by_comp.describe().iloc[2]

Out[15]: Sales  count      1.0
       mean     340.0
       std        NaN
       min      340.0
       25%      340.0
       50%      340.0
       75%      340.0
       max      340.0
Name: PWC, dtype: float64

In [0]:
by_comp.describe().transpose()

In [0]:
by_comp.describe().transpose()['AWS']

Out[17]: Sales  count      3.000000
       mean     237.666667
       std      115.092716
       min      120.000000
       25%      181.500000
       50%      243.000000
       75%      296.500000
       max      350.000000
Name: AWS, dtype: float64